---
---

* { margin: 0; padding: 0; box-sizing: border-box; }
body { margin: 0 !important; padding: 0 !important; }
.wrapper { max-width: 100% !important; padding: 0 !important; margin: 0 !important; }
.site-header { display: none !important; }
.site-footer { display: none !important; }
.site-nav { display: none !important; }
header { display: none !important; }